.spacing {
    letter-spacing: .5rem;
    font-weight: bold;
}

.emphasize {
    color: var(--color);
    opacity: 0.9;
    font-weight: 400;
}

.section-question {
    margin-bottom: .75rem;
}

.question-wrapper {
    display: flex;
    padding-top: 1rem;
}

.question-graphics {
    flex-basis: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.row .questions-column-0 .question-wrapper:nth-of-type(1),
.row .questions-column-1 .question-wrapper:nth-of-type(3) {
    --color: #e4001f;
}

.row .questions-column-0 .question-wrapper:nth-of-type(2),
.row .questions-column-1 .question-wrapper:nth-of-type(4) {
    --color: #f3a901;
}

.row .questions-column-0 .question-wrapper:nth-of-type(3) {
    --color: #a3bf02;
}

.row .questions-column-0 .question-wrapper:nth-of-type(4) {
    --color: #008664;
}

.row .questions-column-1 .question-wrapper:nth-of-type(1) {
    --color: #00a9ea;
}

.row .questions-column-1 .question-wrapper:nth-of-type(2) {
    --color: #c6007d;
}

@media (min-width: 768px) {
    .row .questions-column-0 .question-wrapper:nth-of-type(1),
    .row .questions-column-0 .question-wrapper:nth-of-type(4) {
        --color: #e4001f;
    }

    .row .questions-column-0 .question-wrapper:nth-of-type(2) {
        --color: #a3bf02;
    }

    .row .questions-column-0 .question-wrapper:nth-of-type(3) {
        --color: #00a9ea;
    }

    .row .questions-column-1 .question-wrapper:nth-of-type(1),
    .row .questions-column-1 .question-wrapper:nth-of-type(4) {
        --color: #008664;
    }

    .row .questions-column-1 .question-wrapper:nth-of-type(2) {
        --color: #f3a901;
    }

    .row .questions-column-1 .question-wrapper:nth-of-type(3) {
        --color: #c6007d;
    }
}

.question-icon {
    height: 3rem;
    font-size: 2rem;
    transform: translateX(.00125rem) rotate(0deg);
    color: var(--color);
}

.question-line {
    background: linear-gradient(to bottom, var(--color) 30%, transparent 95%);
    width: 0.2rem;
    border-radius: 10rem;
    height: 100%;
}


.row .questions-column-1 .question-wrapper:nth-last-child(1) .question-graphics .question-line {
    width: 0;
}

@media (min-width: 768px) {
    .row .questions-column-0 .question-wrapper:nth-last-child(1) .question-graphics .question-line {
        width: 0;
    }
}

.question-texts {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    text-align: justify;
}

.question-texts .question {
    font-family: 'Acme', sans-serif;
    letter-spacing: .1rem;
    padding-top: .55rem;
    padding-bottom: 1rem;
    color: var(--color);
}

.question-texts .answer {
    padding-bottom: 2rem;
}

.landing-wrapper {
    position: relative;
    justify-content: space-between;
    height: 40rem;
    overflow: hidden;
}

.landing-box {
    position: absolute;
    object-fit: contain;
    object-position: left top;
    left: 0;
    width: 100%;
    max-width: 30rem;
    height: 50%;
}

.landing-mario {
    position: absolute;
    object-fit: contain;
    object-position: right bottom;
    right: 0;
    width: 100%;
    max-width: 50rem;
    height: 100%;
}

@media (max-width: 776px) {
    .landing-box {
        object-fit: contain;
        object-position: bottom;
        right: 0;
        margin: 0 auto;
        height: 50%;
    }

    .landing-mario {
        object-position: top;
        left: 0;
        bottom: 0;
        margin: 50% auto 0;
        height: 50%;
    }
}

.landing-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.faq-text {
    letter-spacing: .1rem;
}

.img-wrapper {
    width: 100%;
    height: min(30rem, 90vw);
}

.img-landing-wrapper {
    height: min(22.5rem, 40vw);
}

.mario-question-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.shapes-circle {
    background-image: url('../../assets/Background/circle-small.svg');
    background-position: center;
    background-size: cover;
}

@media (min-width: 767px) {
    .shapes-circle {
        background-image: url('../../assets/Background/circle-big.svg');
    }
}